/* THE PAPER SURFACE LAYOUT */
@media (prefers-color-scheme: light) {
  :root:not([data-theme=dark]) {
    --c-color-semantic-desk: #dedede;
    --c-color-semantic-paper: #ffffff;
    --c-color-semantic-text: #17131f;
    --c-color-semantic-link-default: #0a6ada;
    --c-color-semantic-link-text-decoration: #63ffbd;
    --c-color-semantic-link-hover-fg: #000000;
    --c-color-semantic-link-hover-bg: #08f0fd;
    --c-color-semantic-aside-link-default: #ababab;
    --c-color-semantic-aside-link-hover-fg: #17131f;
    --c-color-semantic-border: #dedede;
    --c-color-semantic-codsen-letters: #000000;
    --c-color-semantic-codsen-underline: #08f0fd;
    --c-color-semantic-codsen-spot1: #03e5fb;
    --c-color-semantic-codsen-spot2: #77f7fa;
    --c-color-semantic-codsen-roundel-bg: #ffff65;
    --c-color-semantic-codsen-roundel-fg: #ffffff;
    --c-color-semantic-codsen-nav: #17131f;
    --c-color-semantic-codsen-footer-heading: #17131f;
    --c-color-semantic-codsen-footer-body: #17131f;
    --c-color-semantic-codsen-footer-link: #0a6ada;
    --c-color-semantic-svg-outline: #f2f2f2;
    --c-color-semantic-svg-yellow: #ffff65;
    --c-color-semantic-svg-green: #63ffbd;
    --c-color-semantic-svg-blue: #08f0fd;
    --c-color-semantic-svg-black-fill: #121212;
    --c-color-semantic-svg-black-stroke: #121212;
  }
}
:root[data-theme=light] {
  --c-color-semantic-desk: #dedede;
  --c-color-semantic-paper: #ffffff;
  --c-color-semantic-text: #17131f;
  --c-color-semantic-link-default: #0a6ada;
  --c-color-semantic-link-text-decoration: #63ffbd;
  --c-color-semantic-link-hover-fg: #000000;
  --c-color-semantic-link-hover-bg: #08f0fd;
  --c-color-semantic-aside-link-default: #ababab;
  --c-color-semantic-aside-link-hover-fg: #17131f;
  --c-color-semantic-border: #dedede;
  --c-color-semantic-codsen-letters: #000000;
  --c-color-semantic-codsen-underline: #08f0fd;
  --c-color-semantic-codsen-spot1: #03e5fb;
  --c-color-semantic-codsen-spot2: #77f7fa;
  --c-color-semantic-codsen-roundel-bg: #ffff65;
  --c-color-semantic-codsen-roundel-fg: #ffffff;
  --c-color-semantic-codsen-nav: #17131f;
  --c-color-semantic-codsen-footer-heading: #17131f;
  --c-color-semantic-codsen-footer-body: #17131f;
  --c-color-semantic-codsen-footer-link: #0a6ada;
  --c-color-semantic-svg-outline: #f2f2f2;
  --c-color-semantic-svg-yellow: #ffff65;
  --c-color-semantic-svg-green: #63ffbd;
  --c-color-semantic-svg-blue: #08f0fd;
  --c-color-semantic-svg-black-fill: #121212;
  --c-color-semantic-svg-black-stroke: #121212;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  font-family: "Outfit", "Inter", sans-serif;
  /* TODO - set up via tokens */
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--c-color-links) solid 0.2rem;
  outline-offset: 0.2rem;
}

html,
body {
  margin: 0;
  background: var(--c-color-semantic-desk);
  color: var(--c-color-semantic-text);
  /* transition: color 350ms ease 0s, background 350ms ease 0s; */
}

body {
  font-size: 1.8rem;
  line-height: 3.1rem;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--c-color-semantic-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr.mt0 {
  margin-top: 0;
}

hr.mb0 {
  margin-bottom: 0;
}

input:where([type="text"]),
input:where([type="search"]) {
  display: block;
  border: 1px solid var(--c-color-semantic-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--c-color-semantic-text);
}

.separator {
  margin: 2rem 0 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.separator svg {
  margin: 0 1rem;
}

.emoji {
  filter: brightness(0.7);
}

.ext-link {
  position: relative;
  top: -1rem;
  cursor: help;
}

/* General styling. */
/* ----------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html,
body {
  height: 100%;
}

@media (min-width: 530px) {
  body {
    padding: var(--c-size-semantic-gutter);
  }
  body.maxWide {
    padding-bottom: 0;
  }
}

.paper-surface .remix-app {
  max-width: none;
  transition: max-width 0.5s ease-out;
}

.paper-surface:not(.maxWide) .remix-app {
  max-width: 128rem;
  transition: max-width 0.5s ease-out;
}

.remix-app__container {
  background: var(--c-color-semantic-paper);
  padding: var(--c-size-semantic-gutter);
}

/* SVG */
/* ----------------------------------------------------------------------------- */
.svg-outline {
  fill: var(--c-color-semantic-svg-outline);
}

.svg-yellow {
  fill: var(--c-color-semantic-svg-yellow);
}

.svg-green {
  fill: var(--c-color-semantic-svg-green);
}

.svg-blue {
  fill: var(--c-color-semantic-svg-blue);
}

.svg-black-fill {
  fill: var(--c-color-semantic-svg-black-fill);
}

.svg-black-stroke {
  fill: var(--c-color-semantic-svg-black-stroke);
}

/* Links styling first. */
/* ----------------------------------------------------------------------------- */
.remix-app__main h1,
.remix-app__main h2,
.remix-app__main h3,
.remix-app__main h4,
.remix-app__main h5,
.remix-app__main h6 {
  position: relative;
}
.remix-app__main h1 > a,
.remix-app__main h2 > a,
.remix-app__main h3 > a,
.remix-app__main h4 > a,
.remix-app__main h5 > a,
.remix-app__main h6 > a {
  color: var(--c-color-semantic-text);
}
.remix-app__main h1 > a:hover,
.remix-app__main h2 > a:hover,
.remix-app__main h3 > a:hover,
.remix-app__main h4 > a:hover,
.remix-app__main h5 > a:hover,
.remix-app__main h6 > a:hover {
  text-decoration: none;
}
.remix-app__main h1 > a:hover:before,
.remix-app__main h2 > a:hover:before,
.remix-app__main h3 > a:hover:before,
.remix-app__main h4 > a:hover:before,
.remix-app__main h5 > a:hover:before,
.remix-app__main h6 > a:hover:before {
  position: absolute;
  left: -0.65em;
  content: "#";
  opacity: 0.25;
}
.remix-app__main a {
  color: var(--c-color-semantic-link-default);
}

.remix-app__main h1 sup,
.remix-app__main h2 sup,
.remix-app__main h3 sup,
.remix-app__main h4 sup {
  cursor: help;
}
.remix-app__main h1 sup {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  top: -4em;
  right: 2em;
}
@media (min-width: 550px) {
  .remix-app__main h1 sup {
    top: -5em;
  }
}
@media (min-width: 1000px) {
  .remix-app__main h1 sup {
    top: -5.5em;
    right: 2em;
  }
}
.remix-app__main h2 sup {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  top: -2.5em;
  right: 2.5em;
}

.remix-app__footer a {
  color: var(--c-color-semantic-codsen-footer-link);
}

.remix-app__main a,
.remix-app__footer a {
  text-decoration: none;
}
.remix-app__main a:hover,
.remix-app__footer a:hover {
  text-decoration: underline;
}

.back-to-top {
  opacity: 0.66;
  margin-top: 2rem;
}
.back-to-top a {
  color: var(--c-color-semantic-text);
  padding: 2rem;
  position: relative;
  right: 2rem;
}

/* The rest follows. */
/* ----------------------------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
}

header {
  margin: 0 auto;
  width: 100%;
}

.remix-app {
  margin: 0 auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.remix-app__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.remix-app__header-content {
  position: relative;
}

.remix-app__main {
  /* needed for breadcrumbs component, to position */
  /* left-right arrows: */
  position: relative;
  flex: 1;
}
@media (min-width: 550px) {
  .remix-app__main {
    padding: 0 1.5rem 1.5rem;
  }
}

.remix-app__header {
  text-align: center;
  max-width: 1250px;
}

.remix-app__header-home-link-container {
  line-height: 1;
  text-align: center;
  z-index: -1;
}

.remix-app__header-home-link {
  margin-left: 8rem;
}
@media (max-width: 1200px) {
  .remix-app__header-home-link {
    display: block;
    clear: both;
    top: -1rem;
    position: relative;
  }
}

.remix-app__nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.remix-app__nav li {
  display: inline;
}
.remix-app__nav a {
  color: var(--c-color-semantic-codsen-nav);
  padding: 1.6rem;
  text-decoration: none;
  display: inline-block;
}
.remix-app__nav a.active span {
  border-bottom: 0.5rem solid var(--c-color-semantic-codsen-roundel-bg);
}
.remix-app__nav a:hover span {
  border-bottom: 0.5rem solid var(--c-color-semantic-link-hover-bg);
}
.remix-app__nav .ext-link {
  margin-left: 0.3rem;
}

.remix-app__header-global-nav {
  float: right;
  /* compensate for the link padding: */
  position: relative;
  top: calc(-1 * var(--c-size-semantic-gutter));
  right: calc(-0.5 * var(--c-size-semantic-gutter));
}
@media (min-width: 1200px) {
  .remix-app__header-global-nav {
    position: absolute;
  }
}

.remix-app__theme-toggle {
  float: left;
  position: absolute;
}
.remix-app__theme-toggle button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
}

#svg-theme-toggle #svg-feather-outline {
  display: none;
}
#svg-theme-toggle:hover #svg-feather-outline {
  display: block;
}

/* Fonts */
/* check out https://www.gridlover.net/try */
/* ----------------------------------------------------------------------------- */
h1,
.h1 {
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 5.82rem;
  /* 0.6x */
  line-height: 1;
  margin-top: 4rem;
  /* was 7.8rem */
  margin-bottom: 3rem;
  /* was 7.8rem */
  hyphens: none;
}
@media (min-width: 550px) {
  h1,
.h1 {
    font-size: 7.275rem;
    /* 0.75x */
  }
}
@media (min-width: 1000px) {
  h1,
.h1 {
    font-size: 9.7rem;
  }
}
.page-os-exactly h1, .page-articles-exactly h1, .page-about-exactly h1, .page-s-exactly h1,
.page-os-exactly .h1,
.page-articles-exactly .h1,
.page-about-exactly .h1,
.page-s-exactly .h1 {
  margin-top: 7.8rem;
}

h2,
.h2 {
  font-size: 3.6rem;
  /* 0.6x */
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--c-color-semantic-border);
  padding-bottom: 1rem;
  font-weight: 500;
}

h3,
.h3 {
  letter-spacing: -0.04em;
  font-size: 3.7rem;
  line-height: 3.9rem;
  margin-top: 3.9rem;
  margin-bottom: 3.9rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: var(--c-color-semantic-text);
  transition: color 0.3s;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: 2rem;
  line-height: 3.9rem;
  margin-top: 2.1rem;
  /* was 3.9 */
  margin-bottom: 0.5rem;
}

h5,
.h5 {
  font-size: 2.3rem;
  line-height: 3.9rem;
  margin-top: 3.9rem;
  margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Login page-specific */
/* ----------------------------------------------------------------------------- */
.page-login .remix-app__main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-login .remix-app__header-content {
  padding-bottom: 2rem;
}

.page-login {
  background-image: url("/images/login-bg-key1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Open Source root page-specific */
/* ----------------------------------------------------------------------------- */
@media (min-width: 700px) {
  .content-row__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .content-row__description {
    width: 50%;
    padding-right: 2rem;
  }

  .content-row__packages {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .content-row__description {
    width: 40%;
    padding-right: 0;
  }
}
.content-row__package a {
  display: block;
  color: var(--c-color-semantic-text);
}
.content-row__package a .emoji {
  display: inline-block;
}
.content-row__package .content-row__name {
  color: var(--c-color-semantic-link-default);
}
.content-row__package .content-row__package__description {
  opacity: 0.75;
}
.content-row__package a:hover {
  text-decoration: none;
}
.content-row__package a:hover .content-row__name {
  text-decoration: underline;
}
.content-row__package a:hover .emoji {
  transition: transform 0.4s ease-in-out;
  transform: rotate(360deg);
}

.content-row__package__description {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* A single page of an npm package or an article */
/* ----------------------------------------------------------------------------- */
.page-os aside,
.page-articles aside {
  display: none;
}
.page-os .heading,
.page-articles .heading {
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  .page-os .content,
.page-articles .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .page-os .content main,
.page-articles .content main {
    flex: 1;
  }
  .page-os .content main article,
.page-articles .content main article {
    margin: 0 auto;
    max-width: 61.3rem;
  }
  .page-os .content aside,
.page-articles .content aside {
    display: inline-block;
    text-align: right;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 29.7rem;
    margin-top: 2rem;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .page-os .content aside ul,
.page-articles .content aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0 -1rem 0 0;
  }
  .page-os .content aside ul a,
.page-articles .content aside ul a {
    display: inline-block;
    padding: 0.9rem 1rem;
    color: var(--c-color-semantic-aside-link-default);
    transition: all 0.3s;
    position: relative;
  }
  .page-os .content aside ul a:after,
.page-articles .content aside ul a:after {
    content: "";
    width: 2rem;
    height: 0.5rem;
    display: block;
    background-color: transparent;
    position: absolute;
    top: 40%;
    right: -2rem;
  }
  .page-os .content aside ul a:hover,
.page-articles .content aside ul a:hover {
    text-decoration: none !important;
    color: var(--c-color-semantic-aside-link-hover-fg);
    transition: all 0.3s;
  }
  .page-os .content aside ul a:hover:after,
.page-articles .content aside ul a:hover:after {
    background-color: var(--c-color-semantic-link-hover-bg);
    transition: all 0.3s;
  }
  .page-os .content aside ul a.selected,
.page-articles .content aside ul a.selected {
    color: var(--c-color-semantic-aside-link-hover-fg);
  }
  .page-os .content aside ul a.selected:after,
.page-articles .content aside ul a.selected:after {
    content: "";
    display: block;
    width: 2rem;
    height: 0.5rem;
    background-color: var(--c-color-semantic-codsen-roundel-bg);
    position: absolute;
    top: 40%;
    right: -2rem;
  }
  .page-os .content aside ul a.selected:hover:after,
.page-articles .content aside ul a.selected:hover:after {
    background-color: var(--c-color-semantic-link-hover-bg);
  }
}

/* Theme-specific overrides  */
/* ----------------------------------------------------------------------------- */
:root[data-theme=dark] .badges img {
  opacity: 0.8;
  filter: invert(1);
}
:root[data-theme=dark] .badges img:hover {
  opacity: 1;
}

:root[data-theme=light] .emoji {
  filter: none;
}
:root[data-theme=light] .badges img {
  opacity: 1;
  filter: none;
}

/* code highlighting */
/* -------------------------------------------------------------------------- */
/* https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css */
pre[class*=language-],
code[class*=language-] {
  color: #d4d4d4;
  /* font-size: 13px; */
  text-shadow: none;
  font-family: "Roboto Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  hyphens: none;
}

pre[class*=language-]::selection,
code[class*=language-]::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre[class*=language-],
code[class*=language-] {
    text-shadow: none;
  }
}
pre[class*=language-] {
  overflow: auto;
  background: #1e1e1e;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}

/* tokens */
.namespace {
  opacity: 0.7;
}

.token.comment {
  /* 48% - average between bg at 12% and default text at 83% */
  /* (83+12)/2 = 47.5 */
  color: #787878;
}

.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a9955;
}

.token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
  background: #1e1e1e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #c586c0;
}

.token.function {
  color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
  color: #d16969;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: #9cdcfe;
}

.token.class-name {
  color: #4ec9b0;
}

.token.parameter {
  color: #9cdcfe;
}

.token.interpolation {
  color: #9cdcfe;
}

.token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.token.boolean {
  color: #569cd6;
}

.token.property {
  color: #9cdcfe;
}

.token.selector {
  color: #d7ba7d;
}

.token.tag {
  color: #569cd6;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.attr-value {
  color: #ce9178;
}

.token.entity {
  color: #4ec9b0;
  cursor: unset;
}

.token.namespace {
  color: #4ec9b0;
}

/* language-specific */
pre[class*=language-javascript],
code[class*=language-javascript] {
  color: #4ec9b0;
}

pre[class*=language-css],
code[class*=language-css] {
  color: #ce9178;
}

pre[class*=language-html],
code[class*=language-html] {
  color: #d4d4d4;
}

.language-html .token.punctuation {
  color: #808080;
}

/* line highlighting */
pre[data-line] {
  position: relative;
}

pre[class*=language-] > code[class*=language-] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* Breadcrumb */
/* ----------------------------------------------------------------------------- */
.arrowContainer a {
  color: var(--c-color-semantic-aside-link-default);
}
.arrowContainer:hover a span {
  color: #1e1e1e;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  color: var(--c-color-semantic-aside-link-default);
  /* central breadcrumb */
}
.breadcrumb span.breadcrumb {
  width: 100%;
  text-align: center;
  flex: 1;
  line-height: 1;
}
.breadcrumb span.breadcrumb span {
  width: 100%;
  display: block;
}
.breadcrumb span.breadcrumb span a {
  color: var(--c-color-semantic-aside-link-default);
  transition: all 0.3s;
  display: inline-block;
  /* it should be 1.6rem all around but we compensate */
  /* for line-height=1 (which is needed when stacking)*/
  padding: 1.9rem 1.6rem;
}
.breadcrumb span.breadcrumb span a:hover {
  text-decoration: none;
  color: var(--c-color-semantic-aside-link-hover-fg);
}
.breadcrumb .rightArrow,
.breadcrumb .leftArrow {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  line-height: 1.1;
  text-transform: uppercase;
  display: flex;
  width: 12.8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.6rem;
}
.breadcrumb .rightArrow span,
.breadcrumb .leftArrow span {
  position: absolute;
  display: flex;
  width: 12.8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.breadcrumb .rightArrow svg,
.breadcrumb .leftArrow svg {
  z-index: 0;
  position: absolute;
}
.breadcrumb .rightArrow {
  right: -1.5rem;
}
.breadcrumb .rightArrow span {
  padding-right: 1rem;
}
:root[data-theme=dark] .breadcrumb .rightArrow:hover {
  color: black !important;
}
.breadcrumb .leftArrow {
  left: -1.5rem;
}
.breadcrumb .leftArrow span {
  padding-left: 2rem;
}
:root[data-theme=dark] .breadcrumb .leftArrow:hover {
  color: black !important;
}

/* ETC */
/* ----------------------------------------------------------------------------- */

/*# sourceMappingURL=paper-surface.css.map */
